:root {
  --cl-secondary: #232323;
  --text-primary: #ffffff;

  --size-logo: 40px;
}

body {
  background: var(--cl-secondary);
  color: var(--text-primary);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0.5em;
}
