:root {
  --cl-secondary: #232323;
  --cl-primary: #174f7c;
  --cl-accent: #8f3985;
  --text-primary: #ffffff;
  --text-secondary: #bebebe;
  --size-logo: 60px;

  --z-backdrop: 100;
  --z-side-drawer: 200;
  --z-nav-item: 50;
}

body {
  background: var(--cl-secondary);
  color: var(--text-primary);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

button,
a {
  cursor: pointer;
}
