:root {
  --cl-secondary: #232323;
  --cl-primary: #174f7c;
  --cl-accent: #8f3985;
  --cl-info: #13344b;
  --text-primary: #ffffff;
  --text-secondary: #bebebe;
  --text-inverse: var(--cl-secondary);
  --size-logo: 60px;

  --z-backdrop: 100;
  --z-side-drawer: 200;
  --z-nav-item: 50;
  --z-navbar: 10;
  --z-page: 0;
  --z-settings: 25;
  --z-modal: 300;

  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  --border-radius: 4px;
  --navbar-height: 50px;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--cl-secondary);
  color: var(--text-primary);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

button,
a {
  cursor: pointer;
}
